@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #393E46;
    min-height: 100%;
}
#main{
    min-height: 90vh;
}

/* CSS for header content */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #222831;
    position: sticky;
    top: 0;
    left: 0;
}
header h4{
    padding: 0px 2rem;
    font-size: 2rem;
    font-weight: 400;
    color: #EEEEEE;
    text-shadow: 1px 1px 0.3rem #00acb598,0 0 2rem #00acb54e;
}
#underline-1{
    position: relative;
    top: 4px;
    left: -0.5rem;
    height: 1px;
    background-image: linear-gradient(90deg,#00ADB5,#00acb5c6,#00acb500);
    width: 30vw;
    border-radius: 5px;
}
header input{
    width: 18rem;
    padding: 4px;
    outline: 0;
    border-radius: 2rem;
    border: none;
    text-align: center;
    font-size: 1rem;
    color: #393E46;
}
.search-icon{
    background-color: #00ADB5;
    color: #EEEEEE;
    border-radius: 1.2rem;
    padding: 6px;
    cursor: pointer;
}
.search-icon:hover{
    background-color: #006469;
}
#search-section{
    display: flex;
    gap: 6px;
}

/* CSS for main content  */
#main-info{
    background-image: linear-gradient(90deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.185),rgba(0, 0, 0, 0));
    padding: 2rem;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#container{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
#temp-element{
    font-size: 5rem;
    color: #EEEEEE;
}
#weather-main{
    font-size: 2.2rem;
    color: #00ADB5;
}
#side-info{
    width: 16rem;
    height: 12rem;
    color: #EEEEEE;
    background-color: #00ADB5;
    box-shadow: 2px 2px 2px 0px black;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 2rem;
    flex-direction: column;
    gap: 8px;
    font-size: 1.2rem;
}
#city-info{
    font-size: 1.8rem;
}
#weather-desc{
    font-size: 1.4rem;
    color: #EEEEEE;
}
#other{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 5rem 2rem;
}
.card{
    height: 14rem;
    width: 14rem;
    margin: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    gap: 4px;
    padding: 1rem;
    box-shadow: inset 0 0 2rem 1rem rgba(0, 0, 0, 0.292);
}
#card-1{
    background-color: rgb(223, 242, 255);
    color: rgb(0, 62, 100);
}
#card-2{
    background-color: rgb(226, 255, 223);
    color: rgb(0, 81, 0);
}
#card-3{
    background-color: rgb(250, 255, 223);
    color: rgb(77, 77, 0);
}
#card-4{
    background-color: rgb(255, 223, 254);
    color: rgb(64, 0, 62);
}
.card-icons{
    height: 8rem;
}
footer{
    text-align: center;
    padding: 1rem;
    color: #EEEEEE;
    background-color: #000000;
    margin-top: 14px;
    
}

@media (max-width: 950px) and (min-width:721px){
    .card{
        height: 10rem;
        width: 10rem;
        margin: 0.5rem;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        gap: 4px;
        padding: 0.5rem;
        box-shadow: inset 0 0 2rem 1rem rgba(0, 0, 0, 0.292);
    }
    footer{
        text-align: center;
        padding: 1rem;
        color: #EEEEEE;
        background-color: #000000;
        margin-top: 14px;
        position: relative;
        bottom: 0;
        left: 0;
    }
}

@media (max-width: 720px){
    #other{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        margin: 5rem auto;
    }
    .card{
        height: 10rem;
        width: 10rem;
        margin: 0.5rem;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        gap: 4px;
        padding: 0.5rem;
        box-shadow: inset 0 0 2rem 1rem rgba(0, 0, 0, 0.292);
    }
    header input{
        width: 12rem;
        padding: 4px;
        outline: 0;
        border-radius: 2rem;
        border: none;
        text-align: center;
        font-size: 1rem;
        color: #393E46;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #222831;
        position: sticky;
        top: 0;
        left: 0;
        gap: 1rem;
    }
}